@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}


.info_text{
    text-align: center;
}

.info_text h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: #252B42;
}

.info_text p{
    font-size: 14px;
    font-weight: 500;
    color: #737373;
}

.info_card_inner{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}