@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #ecf0f1;
  overflow-x: hidden;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.nav_background {
  background: url("https://www.figma.com/file/17JZPUq6XlD5AzQJfCLIbG/image/7f469d35335ab7417ecf122263b99893a2d67e98?fuid=1034160545583629506")
    center/cover;
  height: 100vh;
  width: 100%;
}
.container h1 {
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  padding: 15px 6%;
}
.nav_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top: 2px;
}
.nav_list li {
  margin: 0 20px;
}
.nav_list li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.bars {
  display: none;
}
.banner h2 {
  font-size: 58px;
  line-height: 80px;
  line-height: 113%;
  align-items: flex-start;
  letter-spacing: 0.2px;
  font-weight: 900;
  margin: 0;
}
.banner {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 157px;
  margin-top: 184px;
  margin-right: 734px;
}
.banner p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
  font-weight: normal;
  width: 360px;
  flex-direction: column;
  display: flex;
}


.d-flex {
  display: flex;
}
.d-flex button {
  border-radius: 37px;
  padding: 10px 36px 10px 36px;
  border: none;
  background: #ff7b47;
  color: white;
}
.d-flex .opacity {
  border: 1px solid #0d5c63;
  background-color: transparent;
  color: #0d5c63;
  margin-left: 15px;
}

.info_text {
  text-align: center;
}

.info_text h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  color: #252b42;
}

.info_text p {
  font-size: 14px;
  font-weight: 500;
  color: #737373;
}

.info_card_inner {
  width: 70%;
  margin: 70px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.info_card {
    text-align: center;
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.info_card h2 {
    font-weight: 700;
    font-size: 40px;
    color: #252b42;
}

.info_card p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #737373;
}

.footer_back {
    background: #fafafa;
    margin-top: 50px;
}

.top_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.parent_footer h3{
    font-size: 24px;
    font-weight: 700;
    color: #252B42;
}

.parent_footer p{
    font-size: 14px;
    font-weight: 500;
    color: #737373;
}

.btn_footer button{
    border: none;
    background-color: #FF7B47;
    padding: 15px 40px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.footer_inner{
    background-color: #17213C;
    width: 100%;
}

.footer_content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 15px;
}

.footer_text h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: white;
}

.footer_list li a{
    color: white;
    font-size: 14px;
    line-height: 24px;
}

.footer_list li i{
    color: #8EC2F2;
    font-size: 18px;
}

.footer_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.footer_icons p{
    font-size: 14px;
    font-weight: 600;
    color: #737373;
}

.footer_icon_list a{
    font-size: 20px;
    padding: 0 7px;
}

.facebook, .twitter{
    color: blue;
}

.instagram, .youtube{
    color: red;
}

@media screen and (max-width: 810px) {
    .nav_list {
      display: none;
    }
    .container {
      width: 90%;
      justify-content: space-between;
    }
    .bars {
      display: block;
      font-size: 33px;
      padding-top: 5px;
    }
    .info_card_inner {
      width: 90%;
    }
    .footer_text{
        width: 30%;
    }
}

@media screen and (max-width:558px) {
    .banner{
        margin-left: 0;
    }
}

@media screen and (max-width:487px) {
    .footer_text{
        width: 50%;
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    .banner {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0;
      flex-direction: column;
    }
    .banner h2 {
      font-size: 38px;
    }
    .info_card_inner {
      width: 50%;
    }
    
}